<form (ngSubmit)="enviar()">
  <div>
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Ingresa tu nombre" />
    <p *ngIf="errorNombre" style="color:red">Error al completar campo nombre</p>

  </div>

  <div>
    <label>Apellido:</label>
    <input type="text" [(ngModel)]="apellido" name="apellido" placeholder="Ingresa tu apellido" />
    <p *ngIf="errorApellido" style="color:red">Error al completar campo apellido</p>

  </div>

  <div>
    <label>Dni:</label>
    <input type="number" [(ngModel)]="dni" name="dni" placeholder="Ingresa tu dni" />
    <p *ngIf="errorDni" style="color:red">Error al completar campo dni</p>
  </div>

  <div>
    <label>Ingresa tu correo:</label>
    <input type="text" [(ngModel)]="mail" name="mail" placeholder="Ingresa tu mail" />
    <p *ngIf="errorMail" style="color:red">Error al completar el corre electronico</p>
  </div>

  <div>
    <label for="metodo-pago">Seleccione un método de pago:</label>
    <select id="metodo-pago" name="metodo-pago" [(ngModel)]="tipoBilletera">
      <option value="">-- Seleccionar --</option>
      <option value="cobrador">Cobrador</option>
      <option value="cuenta-dni">Cuenta DNI</option>
      <option value="mercado-pago">Mercado Pago</option>
      <option value="paypal">PayPal</option>
    </select>
    <p>Método de pago seleccionado: {{ tipoBilletera }}</p>
  </div>

  <button type="submit">Registrar</button>
</form>
